
        <h2>Recipe Catalog</h2>
        {{#if recipes.length}}
        <section class="recipes">
            {{#each recipes}}
                {{> recipe}}
            {{/each}}
            <!-- Add more recipes here -->
            {{else}}
            <p class="no-post" style="text-align: center;">There are no recipes found yet!</p> 
            {{/if}}
        </section>
